
<section style="background-color: #eee;">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <app-test></app-test>
        </div>
        <app-test2></app-test2>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <app-test3></app-test3>
            <hr>
            <app-test4></app-test4>
            <hr>
            <div class="row">
            </div>  
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Paranaque City, Metro Manila</p>
              </div>
            </div>
          </div>
        </div>
        <app-test5></app-test5>
            </div>
          </div>
</section>
